.vscode/
.idea/
*.iml
*.swp
*.swo
*~
*.mvn

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example


dist/
build/
out/
target/
coverage/
.cache/
tmp/
temp/

*.sh
*.class
*.jar
*.war

# Gatling reports & simulation logs
**/gatling/**/
simulation.log
lastRun.txt